<!-- add this when user login -->
<header>
    <div class="navbar-container">
        <div class="burger-container">
            <button class="burger-btn">☰</button>
        </div>
        <div class="navbar-content">
            <div class="navbar-left-side">
                <div class="navbar-links">
                    <a class="navbar-link-style" href="/">Home</a>
                    <a class="navbar-link-style" href="/about">About</a>
                    <a class="navbar-link-style" href="/donate">Donate</a>
                </div>
            </div>
            <div class="navbar-reg">
    
                <div class="dropdown">
                    <div class="title-plus-arrow">
                        <a class="n-right" href="#"><%= userName %></a>
                        <div class="triangle"></div>
                    </div>
                <div class="dropdown-content">
                    <div class="content-link">
                        <a class="drop-sub-elem" href="/profile" >Profile</a>
                    </div>
                    <div class="content-link">
                        <a class="drop-sub-elem" href="/downloads" >Downloads</a>
                    </div>
                    <div class="content-link">
                        <a class="drop-sub-elem" href="/settings">Settings</a>
                    </div>
                    <div class="content-link">
                        <a class="drop-sub-elem" href="/logout">Log Out</a>
                    </div>
                </div>
            </div>
    
            
            </div>
        </div>
       
    </div>
</header>