:root{
    --main-bg-color: #052b7c;
    --main-hover-color: #0941b9;
    --main-font-color: #ffffff;
    --input-border-color: #dddddd;
    --nav-border-color: #e8e8e8;
    --err-color: #b90909;
    --succ-color: #09b909;
    --font-f: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--font-f);
    margin: 0;
    padding: 0;
}



#loader {
    margin: 0;
    width: 100%;
    height: 3px;
    position: sticky;
    overflow: hidden;
    background-color: #ddd;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    top: 0;
}

#loader:before {
    content: "";
    margin: 0;
    position: absolute;
    left: -50%;
    height: 3px;
    width: 40%;
    background-color: rgb(80, 92, 255);
    -webkit-animation: lineAnim 1s linear infinite;
    -moz-animation: lineAnim 1s linear infinite;
    animation: lineAnim 1s linear infinite;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

@keyframes lineAnim {
    0% {
        left: -40%;
    }
    50% {
        left: 20%;
        width: 80%;
    }
    100% {
        left: 100%;
        width: 100%;
    }
}



.e-content{
    display: block;
    padding: 0 1.5rem;
}



h1, h4{
    text-align: center;
    margin: 15px;
}

header{
    position: sticky;
    top: 3px;
}

.navbar-container{
    padding: 0 1.5rem;
    height: 61px;
    background-color: var(--main-font-color);
    /* border-bottom: 1px solid var(--nav-border-color); */
    width: inherit;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.burger-container{
    display: none;
}

.burger-btn {
    padding: 10px;
    background-color: var(--main-font-color);
    color: var(--main-bg-color);
    font-size: 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    z-index: 2;
}

.navbar-content{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}



.navbar-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.navbar-link-style{
    color: var(--main-bg-color);
    padding: 17px 15px;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 3px solid var(--main-font-color);
    border-top: 3px solid var(--main-font-color);
}

.navbar-link-style:hover{
    color: var(--main-hover-color);
    border-bottom: 3px solid var(--main-hover-color);
    border-top: 3px solid var(--main-font-color);
    /* transition: 0.3s; */
}

ul li{
    display: flex;
    flex-flow: row wrap;
}

.title-plus-arrow{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 17px 24px;
    cursor: pointer;
}


.n-right{
    color: var(--main-bg-color);
    padding: 0 0 0 20px;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 3px solid var(--main-font-color);
    border-top: 3px solid var(--main-font-color);
}

.n-right:hover{
    border-bottom: 3px solid var(--main-font-color);
    border-top: 3px solid var(--main-font-color);
}

.triangle{
	width: 0;
	height: 0;
	border-width: 6px 6px 0 6px;
	border-color: var(--main-bg-color) transparent transparent transparent;
	border-style: solid;
    margin: 0 8px;
}

.dropdown-content{
    display: block;
    position: absolute;
    padding: 15px 15px 15px 0;
    visibility: hidden;
    z-index: 5;
}

.content-link{
    display: flex;
    flex-direction: column;
}

.drop-sub-elem{
    color: var(--main-bg-color);
    padding: 12px;
    border-left: 1px solid var(--nav-border-color);
    font-size: 18px;
    text-align: left;
    text-decoration: none;
}

.drop-sub-elem:hover{
    color: var(--main-hover-color);
    border-left: 1px solid var(--main-hover-color);
}



.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100svh;
    background-color: #ffffff;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid var(--nav-border-color);
  }


.footer-left-side{
    display: flex;
    flex-direction: column;
}

  .footer-link-style{
    color: var(--main-bg-color);
    padding: 10px 15px;
    font-size: 15px;
    text-decoration: none;
  }


.footer-link-style:hover{
    color: var(--main-hover-color);
    padding: 10px 15px;
    font-size: 15px;
    text-decoration: none;
  }


  [aria-disabled="true"] {
    opacity: 0.5;
  }

.noscript-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px)  {
    .burger-container {
        display: flex;
        justify-content: right;
    }

    .navbar-content{
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: left;
        align-items:start;
        top: 62px;
        left: 0;
        width: 100%;
        min-height: 100%;
        z-index: 3;
        padding: 0;
        background-color: var(--main-hover-color);
        border-radius: 3px;
        box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.08),
        0px 4px 13px rgba(0, 0, 0, .05);
    }

    .showNavbar{
        transform: translateX(0px);
        animation: 300ms linear 0.3ms 1 normal none running showNavbar;
    }

    .hideNavbar{
        transform: translateX(100%);
        animation: 300ms linear 0.1ms 1 normal none paused hideNavbar;
    }

    @keyframes showNavbar {
        0% {
            transform: translateX(100%); visibility: visible; opacity: 1;
        }
        100% {
            transform: translateX(0px); visibility: visible; opacity: 1;
        }
    }
    
    @keyframes hideNavbar {
        0% {
            transform: translateX(0px); visibility: visible; opacity: 1;
        }
        100% {
            transform: translateX(100%); visibility: visible; opacity: 1;
        }
    }

    .navbar-content:hover{
        box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.08),
        0px 10px 13px rgba(0, 0, 0, .1),
        0px 4px 13px rgba(0, 0, 0, .05);
    }
    
    .navbar-left-side, .navbar-reg{
        width: 100%;
        background-color: var(--main-hover-color);
    }

    .navbar-links{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: start;
        color: var(--main-font-color);
        background-color: var(--main-hover-color);
        border-bottom: 3px solid var(--main-hover-color);
        border-top: 3px solid var(--main-hover-color);
    }

    .navbar-link-style{
        
        
    }

    .navbar-link-style{
        width: 100%;
        height: 100%;
        padding: 17px 1.5rem;
        color: var(--main-font-color);
        background-color: var(--main-hover-color);
        border-bottom: 3px solid var(--main-hover-color);
        border-top: 3px solid var(--main-hover-color);
    }
    
    .navbar-link-style:hover{
        color: var(--main-font-color);
        border-bottom: 3px solid var(--main-font-color);
        border-top: 3px solid var(--main-hover-color);
        /* transition: 0.3s; */
    }


    .title-plus-arrow{
        display: flex;
        align-items: center;
        justify-content:space-between;
        padding: 17px 1.5rem; 
        position: relative;
        color: var(--main-font-color);
        background-color: var(--main-hover-color);
        border-bottom: 3px solid var(--main-hover-color);
        border-top: 3px solid var(--main-hover-color);
    }

    .n-right{
        padding: 0;
        font-size: 18px;
        text-decoration: none;
        color: var(--main-font-color);
        background-color: var(--main-hover-color);
        border-bottom: 3px solid var(--main-hover-color);
        border-top: 3px solid var(--main-hover-color);
    }


    .dropdown-content{
        position: relative;
        margin-top: 10px;
        padding: 0;
        z-index: 5;
    }

    .content-link{
        width: 100%;
        height: 100%;
    }

    .drop-sub-elem{
        width: 100%;
        height: 100%;
        padding: 17px 1.5rem;
        color: var(--main-font-color);
        background-color: var(--main-hover-color);
        border-bottom: 3px solid var(--main-hover-color);
        border-top: 3px solid var(--main-hover-color);
        border-left: 1px solid var(--main-hover-color);
    }

    .drop-sub-elem:hover{
        color: var(--main-font-color);
        border-left: 1px solid var(--main-font-color);
    }

    .triangle{
        border-color: var(--main-font-color) transparent transparent transparent;
    }

}